@import url('Criteria.css');

.phrase_div{
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.phrase_1{
    margin-top: var(--padding);
    padding: var(--padding);
    font-size: var(--font-md);
    font-weight: bold;
}

.phrase_2{
    padding-left: var(--padding);
    padding-bottom: var(--padding);
    font-size: var(--font-md);
    font-weight: bold;
}

.button{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: var(--white-color);
    font-size: var(--font-large);
}
