.mainsc{
    display: flex;
    list-style: none;
    justify-content: center;
}

.main1{
    flex: 1 1 50%;
    padding: var(--padding);
}

.maintx1{
    font-size: var(--font-md);
}

.maintx2{
    padding-top: var(--padding);
}

.imbutton{
    border: none;
    background-color: var(--white-color);
}

.divimg{
    flex: 1 1 50%;
}

.divimg img{
    border-radius: 10%;
    width: 100%;
}
