.topdiv{
    display: flex;
    padding: var(--padding);
    background-color: var(--white-color);
    color: var(--black-color);
    height: 62px;
}

.topdiv button{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: var(--white-color);
    font-size: var(--font-large);
}

.leftbt{
    justify-content: left;
    width: 22px;
    font-weight: bold;
}

.homebt{
    margin-left: auto;
    margin-right: 10px;
}
