

.container {
    display: flex;
    justify-content: center;
}
  
.box {
    border-radius: 5px;
    margin-top: 8px;
    width: 97%;
    height: 83px;
    background-color: #ffffff;
    padding: 12px 18px 12px 18px;
}

.reqfont{
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

.btdiv{
    padding: 10px 0 10px 0;
}

.btul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: calc(var(--padding)/2) 0;
}

.ipval{
    width: 44px;
    height: 22px;
    font-size: var(--font-small);
    border-radius: 5px;
    border: 0px;
    outline: #efefef;
    background-color: #efefef;
    text-align: center;
    color: #a6a6a6;
}

.sppa0{
    margin-right: 5px;
}

.sppa1{
    margin-left: 5px;
}
