input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }


.header{
    display: flex;
    justify-content: space-between;
    padding:  var(--padding);
    background-color: var(--white-color);
    color: var(--black-color);
}

.button{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #FFFFFF;
    font-size: 20px;
}

.headertext{
    font-size: 20px;
    font-weight: bold;
}

.maintext{
    background-color: #efefef;
    min-height: 340px;
    display: grid;
    justify-content:space-around;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.inputback{
    background-color: #FFFFFF;
    border: 8px;
    padding: 16px;
    font-size: 12px;
}

.ipflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iptext{
    font-weight: bold;
}

.iptag1{
    width: 299px;
    height: 36px;
    font-size: 12px;
    border-radius: 5px;
    border: 0px;
    outline: #efefef;
    background-color: #efefef;
    padding-left: 10px;
    text-align: left;
    color: #a6a6a6;
}

.iptag2{
    width: 149px;
    height: 36px;
    font-size: 12px;
    border-radius: 5px;
    border: 0px;
    outline: #efefef;
    background-color: #efefef;
    padding-left: 10px;
    text-align: left;
    color: #a6a6a6;
    
}

.iptag3{
    width: 64px;
    height: 36px;
    font-size: 12px;
    border-radius: 5px;
    border: 0px;
    outline: #efefef;
    background-color: #efefef;
    padding-left: 10px;
    text-align: left;
    color: #a6a6a6;
}

.bottom{
    
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: var(--padding);
    
}

.btbutton{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.bottom .text{
    font-size: var(--font-micro);
    padding-top:8px;
}