:root {
    /*color*/
    --white-color: #FFFFFF;
    --black-color: #000000;
    --grey-dark-color: #D9D9D9;
    --grey-light-color: #D4D4D4;
    --blue-color: #0D6EFD;

    /*size*/
    --padding: 16px;
    --image-size: 160px


    /*font size*/
    --font-Quicker: 25px;
    --font-large: 22px;
    --font-md: 20px;
    --font-small: 12px;
    --font-micro: 8px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}


/*header*/
.header1{
    display: flex;
    justify-content: space-between;
    padding:  var(--padding);
    background-color: var(--white-color);
    color: var(--black-color);
}

.logo{
    font-size: 25px;
    font-weight: bold;
}

.button{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #FFFFFF
}

.main{
    padding: var(--padding);
    font-size: 20px;
    font-weight: bold;
}

.main2{
    padding-left: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
}

.info{
    display: flex;
    padding: var(--padding);
    list-style: none;
    justify-content: space-between;
}

.infotext1{
    font-size: var(--font-md);
}

.infotext2{
    font-size: var(--font-small);
    padding-top: var(--padding);
}

.imgbutton{
    width: 160px;
    height: 160px;

}

.bottom{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: var(--padding);
}

.btbutton{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.bottom .text{
    font-size: var(--font-micro);
    padding-top:8px;
}

.back{
    background-color: var(--grey-dark-color);
}

.notice{
    padding: var(--padding);
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 12px;
}

.noticetext1{
    font-weight: bold;
}

.noticetext2{
    margin-left: 10px;
    
}
