@import url('Criteria.css');

.maintab{
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--white-color);
    color: var(--black-color);
}

.Quicker{
    font-size: var(--font-Quicker);
    font-weight: bold;
}

.bellbutton{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: var(--white-color);
    font-size: var(--font-large);
}